./c/module/.Module.symvers.cmd
./c/module/.modules.order.cmd
./c/module/.sort.ko.cmd
./c/module/.sort.mod.cmd
./c/module/.sort.mod.o.cmd
./c/module/.sort.o.cmd
./c/module/Module.symvers
./c/module/modules.order
./c/module/sort.ko
./c/module/sort.mod
./c/module/sort.mod.c
./c/module/sort.mod.o
./c/module/sort.o

c/socket/client
c/socket/server
c/file
c/network
c/process